<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="experience.css">
</head>
<body>
        <header><%- include('partials/header') %></header>
   

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <p>Take a glimpse into my world of fashion and glamour with these captivating modeling photoshoot videos. Witness the creativity and artistry that goes into each frame, portraying elegance and sophistication at its finest.</p>

                <div class="embed-responsive embed-responsive-16by9 mb-4">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-sjqWRk7qi4" 
                    title="YouTube video player" allowfullscreen></iframe>
                </div>
                <div class="embed-responsive embed-responsive-16by9 mb-4">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KB6UwSUlQis" 
                    title="YouTube video player" allowfullscreen></iframe>
                </div>
                <div class="embed-responsive embed-responsive-16by9 mb-4">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A6BXBVLj-f4" 
                    title="YouTube video player" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <p>Embark on a mesmerizing journey through the lens of my exclusive fashion insights. Delve into the intricate world of haute couture and runway elegance, where each stride narrates a story of passion, grace, and timeless style.</p>

                <div class="embed-responsive embed-responsive-16by9 mb-4">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wRtqpJBh3I4" 
                    title="YouTube video player" allowfullscreen></iframe>
                </div>
                <div class="embed-responsive embed-responsive-16by9 mb-4">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_PGDrSLdc-g" 
                    title="YouTube video player" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
