<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="skills.css"> <!-- Your custom CSS file -->
</head>
<body>
    <header><%- include('partials/header') %></header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about-container p-5 bg-dark text-light">
                    <h2 class="text-primary text-center">Skills</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Fashion and Runway Modeling</li>
                        <li class="list-group-item">Video Production and Editing for YouTube </li>
                        <li class="list-group-item">Social Media Marketing and Brand Promotion</li>
                        <li class="list-group-item">Makeup Application and Techniques</li>
                        <li class="list-group-item">Beauty and Fashion Content Creation</li>
                        <li class="list-group-item">Client Consultation and Personal Styling</li>
                    </ul>

                    <h2 class="text-primary text-center mt-5">Soft Skills</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Creative Problem Solving</li>
                        <li class="list-group-item">Adaptability and Flexibility</li>
                        <li class="list-group-item">Effective Communication and Presentation</li>
                        <li class="list-group-item">Team Collaboration and Leadership</li>
                        <li class="list-group-item">Time Management and Organization</li>
                        <li class="list-group-item">Attention to Detail and Aesthetics</li>
                        <li class="list-group-item">Customer Service and Client Relationship Management</li>
                        <li class="list-group-item">Cultural Awareness and Sensitivity</li>
                        <li class="list-group-item">Resilience and Stress Management</li>
                        <li class="list-group-item">Self-Motivation and Drive for Continuous Improvement</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
